header {
  color:orange;
}
.column-1 {
  display:inline-block; 
  width:45%;
  font-family:"Courier New";
}

.column-2 {
  display:inline-block;
  width:45%;
  vertical-align:top;
  font-family:"Courier New";
}

footer {
  color:red
  
}